@model filmDunyasi.Models.Film

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KategoriID" class="control-label"></label>
                <select asp-for="KategoriID" class ="form-control" asp-items="ViewBag.KategoriID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DilID" class="control-label"></label>
                <select asp-for="DilID" class ="form-control" asp-items="ViewBag.DilID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FilmAdi" class="control-label"></label>
                <input asp-for="FilmAdi" class="form-control" />
                <span asp-validation-for="FilmAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VizyonTarihi" class="control-label"></label>
                <input asp-for="VizyonTarihi" class="form-control" />
                <span asp-validation-for="VizyonTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sure" class="control-label"></label>
                <input asp-for="Sure" class="form-control" />
                <span asp-validation-for="Sure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDBRating" class="control-label"></label>
                <input asp-for="IMDBRating" class="form-control" />
                <span asp-validation-for="IMDBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afis" class="control-label"></label>
                <input asp-for="Afis" class="form-control" />
                <span asp-validation-for="Afis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fragman" class="control-label"></label>
                <input asp-for="Fragman" class="form-control" />
                <span asp-validation-for="Fragman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaslamaTarihi" class="control-label"></label>
                <input asp-for="BaslamaTarihi" class="form-control" />
                <span asp-validation-for="BaslamaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitisTarihi" class="control-label"></label>
                <input asp-for="BitisTarihi" class="form-control" />
                <span asp-validation-for="BitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenID" class="control-label"></label>
                <select asp-for="YonetmenID" class ="form-control" asp-items="ViewBag.YonetmenID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
